<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejem_solobici_t2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ejem_solobici_t2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.ejem_solobici_t2.AcercaDe" 
            android:label="Acerca de...">
        </activity><activity android:name="com.example.ejem_solobici_t2.Juego" 
            android:label="Juego...">
        </activity><activity android:name="com.example.ejem_solobici_t2.Grafico" 
            android:label="Grafico...">
        </activity><activity android:name="com.example.ejem_solobici_t2.VistaJuego" 
            android:label="VistaJuego...">
        </activity>
        <activity android:name="com.example.ejem_solobici_t2.Preferencias"
            android:label="Preferencias" >
        </activity>
    </application>

</manifest>
